* {
    font-family: inherit;
    box-sizing: border-box;
}

.imagecard {
    width: 360px;
    height: 360px;
    background-color: rgba(231, 201, 199, 0.745);
    margin: 1.2em;
    border-radius: 5px;
    overflow: hidden;
}

.imagecard h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
}

.imagecard p {
    padding: 7px;
    font-size: 1.4em;
    text-align: center;
}

.img {
    width: 360px;
    height: 280px;
}